.flex{
    display: flex;
}

.items-center{
    align-items:center;
}
.justify-between{
    justify-content: space-between;
}


.flex-1{
    flex:1;
}
.vivek{
    display: flex;
}
section.social a{
    background: #161616;
    display:flex;
}

    
    
    
    
    
    
    

